/* input tweet form group*/
#tweet-text {
  display: flex;
  width: 100%;
  resize: none;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: solid;
}

/* tweet and counter group*/
.tweetButton {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/* the tweet button */
.submitButton {
  background-color: #4056A1;
  color: #FFFFFF;
}

/* turns font red if over text limit */
.exceededLimit {
  color: red;
}