article {
  margin: 50px 0px;
  border: solid;
  padding: 20px;
}

/* header */
article .tweet-header {
  display: flex;
  justify-content: space-between;
}

article .tweet-header-left {
  display: flex;
  align-items: center;
}

article #flag {
  padding: 5px;
}

article #retweet {
  padding: 5px;
}

article #like {
  padding: 5px;
}

/* body */
article p {
  border-bottom: solid;
  padding-bottom: 20px;
}

/* footer */
article .tweet-footer {
  display: flex;
  justify-content: space-between;
}

/* box shadow for post */
.article-hover {
  box-shadow: 5px 5px 5px #4056A1;
}

/* highlight icons */
.icons-hover {
  color: orange;
}

/* error message for tweet input */
#error {
  display: flex;
  justify-content: center;
  border: solid;
  color: red;
}